<html>
    <head>
        <link rel="stylesheet" href="/index.css" type="text/css">
    </head>
  <body>
    <h1>Message Board</h1>
    <a href="/sign-up">sign up</a>
    <a href="/login">login</a>
    <div class="messages">
        <% messages.forEach((message) => { %>
           <%-  include('message', {message: message, user: user});%> 
        <%  }) %>
        <% if (user) { %>
          <button onClick="window.location.href='./newMessage'"> Add New Message </button>
        <%}%>
    </div>

    
  </body>
</html>