<a href="/messageDetail/<%= message.id %>" >
    <div class="message">
        <p class="author">@ <%= message.user %>: 
            <span class="text"><%= message.text %> </span>
        </p>
        <p class="date">Date: <%= message.date %></p>
    </div>
</a>