<a href="/messageDetail/<%= message.id %>" >
    <div class="message">
        <% if (user && user.status) { %>
            <p class="author">@ <%= message.username %></p> 
        <% } %>
        <p class="text"><%= message.message_text %> </p>
        <p class="date">Date: <%= message.date %></p>
    </div>
</a>