<html>
    <head>
        <link rel="stylesheet" href="/index.css" type="text/css">
    </head>
  <body>
    <h1>Message Detail</h1>
    <div class="message">
        <% if (user && user.status) { %>
          <p class="author">@ <%= message.username %></p> 
        <% } %>
        <p class="text"><%= message.message_text %> </p>
        <p class="date">Date: <%= message.date %></p>
    
    </div>

    <button class="messageDetail-button" onClick="window.location.href='/'"> Back </button>
  </body>
</html>