<html>
    <head>
        <link rel="stylesheet" href="/index.css" type="text/css">
    </head>
    <body>
        <div class="newMessage">
            <form action="/newMessage" method="POST">
                <label>username</label>
                <input type="text" id="user" name="user">
                <label > message</label>
                <textarea type="text" id="message" name="message" rows="5" ></textarea>
                
                <button type="submit">send message</button>
            </form>
        </div>

        
    </body>
</html>
